@media all and (min-width: 800px)
{
   body
   {
    background-color: teal;
   }

   /* #discount
   {
    height: 7vh;
    width: 100vw;
    background-color: red;
   } */

   #menu 
    {
    /* border: 5px solid white; */
    width: max-content;
    height: max-content;
    padding: 0px;
    }

    #navbar
    {
        /* border: 3px solid red; */
        /* width: max-content; */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }

    #menu a
    {
        /* border: 3px solid white; */
        margin: 0px 7px;
        padding: 5px 8px;
        width: max-content;
    }
}